			/* GENERAL BEGIN */

* {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
@font-face {
	font-family: OpenSans-Light;
	src: url('../fonts/OpenSans-Light.ttf');
}
body {
	font: 13px/1.38 OpenSans-Light, Tahoma, sans-serif;
}

			/* GENERAL END */

			/* HEADER BEGIN */

.header {
	background: url('../img/bg-header.png') repeat-x 0 bottom, 
		url('../img/bg-header.png') repeat-x 0 top #3e4c54;
}
.inner-header {
	background: url('../img/bg-inner.png') no-repeat center bottom;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
header {
	height: 82px;
	margin-left: 12px;
	font-size: 13px;
	line-height: 1.2;
}
header .hdr-list li {
	float: left;
}
.description {
	font-size: 18px;
	color: #ccc;
	margin: 21px 57px 0 21px;
	letter-spacing: 0.02em;
}
.basket {
	display: block;
	padding: 23px 0 12px 55px;
	background: url('../img/basket.png') no-repeat 0 55%;
	color: #fff;
	line-height: 18px;
}
.fs18 {
	font-size: 18px;
}

.info-block {
	margin-right: 9px;
	text-align: right;
}
.net-icons li {
	float: right;
	margin: 10px 0 6px 5px;
}
.net-icons li a {
	width: 18px;
	height: 18px;
	display: block;
	background: url('../img/sprite.png') no-repeat -46px 0;
}
.net-icons li a.fb {
	background-position: -23px 0;
}
.net-icons li a.vk {
	background-position: 0 0;
}
.tel {
	font-size: 16px;
	color: #fff;
	display: block;
	clear: right;
	letter-spacing: 0.03em;

}
.registration, .registration a {
	font: 12px Tahoma, sans-serif;
	color: #90989c;
	letter-spacing: 0.03em;
}
.registration a {
	text-decoration: underline;
}

			/* HEADER END */

			/* MAIN MENU BEGIN */
.nav { 
	background: #1c1c1c;
}
.nav-inner {
	background: url(../img/bg-inner-nav.png) no-repeat 50% 0;
}
nav {
	margin-left: 12px;
}
nav>ul>li {
	float: left;
	position: relative;
}
nav>ul>li>a {
	display: inline-block;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	padding: 16px 16px 16px 17px;
	transition: color 0.5s;
}
nav>ul>li>a:hover {
	color: #fff;
	background-image: linear-gradient(to top, #353535, #292929);
}
nav>ul>li:after {
	content: '';
	display: inline;
	border-right: 1px solid #303030;
}
nav>ul>li:last-child:after {
	border: none;
}
li>ul {
	display: none;
	position: absolute;
}
nav>ul>li:hover ul {
	display: block;
	z-index: 1;
	top: 48px;
}
li>ul>li {
	width: 125px;
	border-bottom: 1px solid #fff;
	background: #353535;
	padding: 5px;
}
li>ul>li>a {
	color: #fff;
}
			/* MAIN MENU END */

			/* SIDEBAR BEGIN */

.main {
	border-top: 1px solid #fff;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #e3e3e2 0px, #fff 70px);
	padding: 26px 0 25px 0;
}
.sidebar {
	float: left;
	width: 249px;
}
.products {
	padding: 5px 0 0 11px;
	min-height: 150px;
}
.products li a {
	font-size: 18px;
	line-heigh: 24px;
	color: #6b8492;
	text-transform: uppercase;
}
.products li a.selected-product {
	text-decoration: underline;
}
.sb-block {
	color: #333;
	margin-bottom: 21px;
}
.sb-block h3 {
	padding: 0 0 0 9px;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	font-weight: normal;
	background-color: #899da8;
	text-transform: uppercase;
}
.parameters ul {
	border-top: 1px solid #fff;
	background: #f7f7f7;
	padding: 3px 0 0 5px;
}
.parameters ul li a {
	line-height: 1.2;
	color: #f36720;
	padding: 0 0 0 10px;
	background: url('../img/crest.png') no-repeat 0 8px;
}
.parameters ul li a:hover {
	background-position: 0 -8px;
}
.parameters input[type='reset'] {
	color: #333;
	text-decoration: underline;
	cursor: pointer;
	outline: none;
	margin: 14px 0 11px 4px;
	letter-spacing: 0.022em;
}
.sb-text ul {
	padding: 3px 0 0 9px;
}
.sb-text li a {
	color: #333;
	line-height: 18px;
}
.checkboxes div {
	padding: 3px 0 0 8px;
}
.checkboxes input[type='checkbox'] {
	display: none;
}
.checkboxes label {
	display: inline-block;
	width: 65px;
	line-height: 18px;
	padding: 0 0 0 16px;
	background: url('../img/checkbox.png') no-repeat -3px 1px;
}
input[type='checkbox']:checked + label {
	background-position: -3px -17px;
}
.checkboxes.three-cols label {
	width: 35px;
	margin-right: 30px;
}
.checkboxes.three-cols label:nth-child(3n) {
	margin-right: 0px;
}
.checkboxes.material label:nth-of-type(2) {
	width: 120px;
}
.adress {
	margin: 58px 0 0 0;
	padding: 5px 0 1px 9px;
	color: #666;
	line-height: 1.2;
	background: #f7f7f7;
}
.adress p {
	margin: 0 0 10px 0;
}
.adress a {
	color: #666;
	text-decoration: underline;
	padding-left: 17px;
	background: url(../img/adress-icon.png) no-repeat 3px 3px;
}

			/* SIDEBAR END */

			/* CONTENT BEGIN */

.content {
	float: right;
	width: 670px;
	margin-right: 20px;
}
.search-form {
	position: relative;
	margin-bottom: 30px;
}
.search-block input[type=text] {
	width: 580px;
	padding: 0 0 0 14px;
	border: 1px solid #6b8492;
	line-height: 31px;
	color: #333;
	background: #fff;
}
.search-block input[type=submit] {
	display: block;
	float: right;
	cursor: pointer;
	padding: 7px 21px 10px 19px;
	color: #fff;
	background-color: #6b8492;
}
.search-block input[type=text]:focus ~ .search-hint {
	display: none;
}
.search-block .search-hint {
	position: absolute;
	top: 1px;
	left: 409px;	
}
.search-block .search-hint p.stroke {
	float: left;
	width: 10px;
	height: 31px;
	background: url('../img/search-stroke.png') no-repeat 0 0;
}
.search-block .search-hint p.text {
	width: 171px;
	float: left;	
	color: #6b8492;	
	padding-left: 6px;
	line-height: 31px;	
	background-image: linear-gradient(to bottom, #efefef, #ffffff);
}
.products-list li {
	position: relative;
	float: left;
	min-height: 292px;
	margin: 0 10px 46px 0;
	cursor: pointer;
	border: 1px solid transparent;
}
.products-list li:nth-child(4n) {
	margin-right: 0px;
}
.products-list li:hover, .products-list li.active  {
	border: 1px solid #6b8492;
	background: url('../img/basket-icon.png') no-repeat 94% 97%;
}
.products-list li img {
	display: block;
	width: 158px;
	height: 210px;
}
.products-list li .img-border {
	position:absolute;
	top: -1px;
	left: -1px;
	width: 158px;
	height: 210px;
	border: 1px solid #6b8492;
}
.products-list li .product-description {
	position: relative;
	margin: 8px 0 0 10px;
	line-height: 1.2;
	color: #666;
}
.products-list li .product-description p.old-price {
	color: #f36720;
	text-decoration: line-through;
}
.products-list li .product-description p.price {
	position: absolute;
	top: 45px;
	margin-top: 3px;
	color: #6b8492;
}
.products-list li .product-description p.price span {
	font-size: 18px;
}
.products-list li .sticker {
	color: #fff;
	position: absolute;
	top: 10px;
	right: -2px;
	width: 80px;
	height: 24px;
	background: url(../img/red-sticker.png) no-repeat 0 0;
}
.products-list li .sticker.green {
	background: url(../img/green-sticker.png) no-repeat 0 0;
}
.products-list li .sticker>p {
	margin: 3px 0 0 5px;
	text-align: center;
}
.products-list li .sticker>p .discount {
	font-size: 10px;
}
.pager {
	text-align: center;
	margin-right: 40px;
	position: relative;
	top: -18px;
}
.pager a {
	display: inline-block;
	font: 13px/20px Tahoma, sans-serif;
	color: #999;
	padding: 3px 11px;
	margin: 0 2px;
}
.pager a.pager-nav {
	margin: 0 12px;
}
.pager a:hover, .pager a.current, .pager a.selectable {
	color: #fff;
	background: #6c8492;
	border-radius: 2px;
}

			/* CONTENT END */

			/* FOOTER BEGIN */

.footer {	
	background: url(../img/bg-footer.gif) repeat-x 0 3px, linear-gradient(to bottom, #e6e6e6, #fefefe);
}
footer {
	font: 13px/1.2 Tahoma, sans-serif;
	color: #666;
	padding: 20px 9px 29px 11px;
}
footer>img {
	margin-bottom: 9px;
}
footer>p {
	font-size: 11px;
}
footer a {
	color: #666;
	text-decoration: underline;
}
footer .footer-right-block {
	float: right;
	text-align: right;
}
footer .footer-adress, footer .footer-email {
	float: right;
	margin-left: 23px;
}
footer .footer-lisence {
	margin-top: 44px;
}

			/* FOOTER END */

			/*CLEARFIX*/

header:after, 
nav:after,
.main:after,
.wrapper:after,
.products-list:after,
footer:after {
	content: '';
	display: table;
	clear: both;
}